{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <section class="home-slider owl-carousel">
        <div class="slider-item" style="background-image:url(/static/images/image_3.jpg);" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="col-md-6 text ftco-animate">
              <h1 class="mb-4">Helping Your <span>Stay Be A Happy One</span></h1>
              <h3 class="subheading">Everyday We Bring Hope and Smiles to the Patients We Serve</h3>
              <p><a href="{% url 'blog' %}" class="btn btn-secondary px-4 py-3 mt-3">View our works</a></p>
            </div>
          </div>
          </div>
        </div>
  
        <div class="slider-item" style="background-image:url(/static/images/image_4.jpg);">
            <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-center justify-content-end" data-scrollax-parent="true">
            <div class="col-md-6 text ftco-animate">
              <h1 class="mb-4">A Smile Makes <br>A Lasting Impression</h1>
              <h3 class="subheading">Your Health is Our Top Priority. Comprehensive, Affordable Medical Treatment.</h3>
              <p><a href="{% url 'blog' %}" class="btn btn-secondary px-4 py-3 mt-3">View our works</a></p>
            </div>
          </div>
          </div>
        </div>
      </section>
</body>
</html>