{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
		<div class="container">
			<div class="row no-gutters">
				<div class="col-md-5 p-md-5 img img-2 mt-5 mt-md-0" style="background-image: url(/static/images/about.jpg);">
				</div>
				<div class="col-md-7 wrap-about py-4 py-md-5 ftco-animate">
			<div class="heading-section mb-5">
			<div class="pl-md-5 ml-md-5 pt-md-5">
				<span class="subheading mb-2">Welcome to Mano Dental Clinic</span>
				<span style="color: salmon;text-align: center;">_____________________________________________</span><br><br>
				<h2 class="mb-2" style="font-size: 32px;">Medical Website Template for your Medical Needs</h2>
			</div>
			</div>
			<div class="pl-md-5 ml-md-5 mb-5">
						<p>This is a clinic website template made with love and ready to be customised to your wishes and standards. Be it a dentist site, GP site, this template stands ready to be assigned to action.</p>
						<div class="founder d-flex align-items-center mt-5">
							<div class="img" style="background-image: url(/static/images/doc-1.jpg);"></div>
							<div class="text pl-3">
								<h3 class="mb-0">Dr. Hazel Banda</h3>
								<span class="position">Head Dentist</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>